<!doctype html>
<html lang="en" ng-app="phonecatApp">

<head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="PhoneListController">

    <ul>
        <li ng-repeat="phone in phones">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>
    <p>Total number of phones: {{phones.length}}</p>
    <p>Hello, {{name}}!</p>
    <table style="border: 2px solid black">
        <tr>
            <th style="border: 1px solid black; width:15px">i</th>
            <th ng-repeat="j in [0, 1, 2, 3, 4, 5, 6, 7]" style="border: 1px solid black; width:3rem"> {{"i+" + j}}</th>
        </tr>
        <tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7]">
            <td style="border: 1px dashed black;">{{i}}</td>
            <td ng-repeat="j in [0, 1, 2, 3, 4, 5, 6, 7]" style="border: 1px dashed black; text-align:center">{{i+j}}
            </td>
        </tr>
    </table>
</body>

</html>